# symlink this to /home/astronaut/.config/systemd/user/change_wallpaper_once.service
[Unit]
Description=Change the wallpaper once
Requires=graphical.target
After=graphical.target

[Service]
ExecStart=zsh /home/astronaut/.astroarch/scripts/wallpaper.sh || exit 0
Type=oneshot

[Install]
WantedBy=default.target
