[Unit]
Description=Extend root partition and resize ext4 file system
After=local-fs.target
Wants=local-fs.target

[Service]
ExecStart=/bin/bash /home/astronaut/.astroarch/scripts/resize_partition.sh
ExecStop=/bin/systemctl disable resize_once.service
Type=oneshot

[Install]
WantedBy=multi-user.target
