# symlink this to /home/astronaut/.config/systemd/user/x11vnc.service
[Unit]
Description=VNC Server for X11
Requires=graphical.target
After=graphical.target

[Service]
ExecStart=x11vnc -wait 50 -noxdamage -auth /home/astronaut/.Xauthority -display :0 -forever -shared -repeat

[Install]
WantedBy=default.target
