[Desktop Entry]
Comment[fr_CH]=
Comment=
Exec=/home/astronaut/.cache/plasmasystemsettings.sh
GenericName[fr_CH]=
GenericName=
Icon=application-x-shellscript
MimeType=
Name[fr_CH]=plasmasystemsettings.sh
Name=plasmasystemsettings.sh
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=
